[submodule "trafsys-data-transfer-deploy"]
	path = trafsys-data-transfer-deploy
	url = https://github.com/ulsdevteam/trafsys-data-transfer-deploy
[submodule "alma-authorizenet-payment-reporting-deploy"]
	path = alma-authorizenet-payment-reporting-deploy
	url = https://github.com/ulsdevteam/alma-authorizenet-payment-reporting-deploy.git
[submodule "libinsight-instruction-outreach-etl-deploy"]
	path = libinsight-instruction-outreach-etl-deploy
	url = https://github.com/ulsdevteam/libinsight-instruction-outreach-etl-deploy.git
