# Install Options
# Initial Installation
keystore.file=included
ri.enabled=true
apia.auth.required=false
messaging.enabled=true
database.jdbcDriverClass=com.mysql.jdbc.Driver
upstream.auth.enabled=false
tomcat.ssl.port=8443
ssl.available=true
database.jdbcURL=jdbc\:mysql\://{{fedora_db.db_server}}/{{fedora_db.db_database}}?useUnicode\=true&amp;characterEncoding\=UTF-8&amp;autoReconnect\=true
messaging.uri=vm\:(broker\:(tcp\://localhost\:61616))
database.password={{fedora_db.db_password}}
database.mysql.driver=included
database.username={{fedora_db.db_username}}
fesl.authz.enabled=false
tomcat.shutdown.port=8005
deploy.local.services=true
xacml.enabled=true
database.mysql.jdbcDriverClass=com.mysql.jdbc.Driver
fedora.serverHost=localhost
tomcat.http.port=8080
database={{fedora_db.db_type}}
database.driver=included
fedora.serverContext=fedora
llstore.type=akubra-fs
tomcat.home={{tomcat.tomcat_home}}
database.mysql.jdbcURL=jdbc\:mysql\://{{fedora_db.db_server}}/{{fedora_db.db_database}}?useUnicode\=true&amp;characterEncoding\=UTF-8&amp;autoReconnect\=true
fedora.home={{fedora.fedora_home}}
install.type=custom
#servlet.engine=included
servlet.engine=existingTomcat
apim.ssl.required=false
fedora.admin.pass={{fedora.fedora_admin_pass}}
apia.ssl.required=false
