ORAUSER: MYUSER
ORAPW: 'MyP4$$w0rd'
ORASERVER: oracle.server.tld/oracle_service_name
ORACLE_HOME: /my/oracle/home
EZPFILESDIR: /var/local/ezpaarse/
EZPURL: 'localhost:59599'
PROXYUSER: myinst
PROXYPASS: 'myInst$ecret'
MYSITE: myinst
LDAPUSER: 'someone@my.directory'
LDAPHOST: 'my.directory'
LDAPBASE: 'OU=Accounts,DC=my,DC=directory'
LDAPPASS: 'myLdap$ecret'
