---
# Register with spacewalk-02 server OEL6
 - name:
   rhn_register:
     state: present
     server_url: https://spacewalk-02.library.pitt.edu/XMLRPC
     activationkey: 1-fcaa362a744deff19d982d940ed896fc
     sslcacert: /usr/share/rhn/RHN-ORG-TRUSTED-SSL-CERT
   when: ansible_distribution == 'OracleLinux' and ansible_distribution_major_version == '6'




# Register with spacewalk-02 server OEL7
 - name:
   rhn_register:
     state: present
     server_url: https://spacewalk-02.library.pitt.edu/XMLRPC
     activationkey: 1-fcaa362a744deff19d982d940ed896fc
     sslcacert: /usr/share/rhn/RHN-ORG-TRUSTED-SSL-CERT
   when: ansible_distribution == 'OracleLinux' and ansible_distribution_major_version == '7'
