[Unit]
Description=Cantaloupe Image Server

[Service]
Type=simple
User=cantaloupe
ExecStart=/usr/bin/java -Dcantaloupe.config=/opt/cantaloupe-4.1.9/cantaloupe.properties -Xmx12g -jar /opt/cantaloupe-4.1.9/cantaloupe-4.1.9.war
ExecStop=/usr/bin/killall -9 cantaloupe-4.1.9.war
Restart=on-failure

[Install]
WantedBy=multi-user.target
